<!--
*  horario.html 
*  @version: 1.0.0
*  @author: Universidad Politecnica - Jazmin Pool, kath
*  @description: HORARIO DEL ALUMNO
*  @date: 09/06/2019
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="./public/css/style.css"></link>
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="./public/fontawesome/css/all.css">
    <title>SEE - Horario</title>
    <link rel="shortcut icon" href="">
</head>
<body>
    <div class="main flex">
        <div class="column horario">
            <div class="row-responsive">
                
                <div class="column menu-left align-center justify-center">
                    <div class="white-space-24"></div>
                    <div class="responsive-img item-left justify-center align-center">
                        <img src="./public/img/upqroo-newlogo@2x.png" alt="responsive img" title="responsive img" class="cover-img "/>
                    </div>
                    <div class="white-space-32"></div>
                    <div class="white-space-16"></div>
                    <div class="column main align-center auto">
                        <div class="row item-left justify-center align-start">
                            <div class = "column">
                                <h4 class="color-white weight-regular font-small">Datos generales</h4>
                            </div>
                        </div>
                        <div class="row item-left justify-center">
                            <div class = "column">
                                <h4 class="color-white weight-regular font-small">Carga académica</h4>
                            </div>                        
                        </div>
                        <div class="row item-left justify-center">
                            <div class = "column">
                                <h4 class="color-white weight-regular font-small">Calificaciones</h4>
                            </div>
                        </div>
                        <div class="row item-left justify-center">
                            <div class="column">
                                <h4 class="color-white weight-regular font-small">Kardex</h4>
                            </div>
                        </div>
                        <div class="row item-left justify-center">
                            <div class = "column">
                                <h4 class="color-white weight-regular font-small">Horario</h4>
                            </div>
                        </div>
                        <div class="row item-left justify-center">
                            <div class = "column">
                                <h4 class="color-white weight-regular font-small">Noticias</h4>
                            </div>
                        </div>
                        <div class="row item-left justify-center">
                            <div class = "column">
                                <h4 class="color-white weight-regular font-small">Formatos</h4>
                            </div>
                        </div>
                        <div class="row item-left justify-center">
                            <div class = "column">
                                <h4 class="color-white weight-regular font-small">Correo Institucional</h4>
                            </div>
                        </div>
                        <div class="row item-left justify-center">
                            <div class = "column">
                                <h4 class="color-white weight-regular font-small">Cerrar Sesión</h4>
                            </div>
                        </div>
                    </div>
                </div> <!--./ blue menu-->
              
                <div class="column align-center">
                <div class="row-responsive">
                        <div class="row-responsive justify-center header-tittle align-center" style="background-image: url(public/img/new-footer-blue.png)">
                            <div class="column container-data align-start header-content">
                                <div class="row auto">
                                    <div class="column auto">
                                        <h1 class="color-white weight-bold">Horario</h1>
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </div> <!--/.header title-->
                    
                    <div class="white-space-24"></div>

                    <div class="row-responsive container-data">
                        <div class="column">
                            <div class="row-responsive">
                                <div class="column card-data justify-center">
                                    <div class="row">
                                        <div class="column align-start justify-center">
                                            <h4>201600089</h4>
                                            <div class="white-space-16"></div>
                                            <p class="color-darkBlue font-small">Numero de control</p>
                                        </div>
                                        <div class="column align-end justify-center auto">
                                            <i class="fas fa-id-badge fa-3x color-lightBlue"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="column card-data justify-center">
                                    <div class="row">
                                        <div class="column align-start justify-center">
                                            <h4>02B Ing Software</h4>
                                            <div class="white-space-16"></div>
                                            <p class="color-darkBlue font-small">Carrera</p>
                                        </div>
                                        <div class="column align-end justify-center auto">
                                            <i class="fas fa-university fa-3x color-lightBlue"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="column card-data justify-center">
                                    <div class="row">
                                        <div class="column align-start justify-center">
                                            <h4>ISOF-2013</h4>
                                            <div class="white-space-16"></div>
                                            <p class="color-darkBlue font-small">Mapa curricular</p>
                                        </div>
                                        <div class="column align-end justify-center auto">
                                            <i class="fas fa-books fa-3x color-lightBlue"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="column card-data justify-center">
                                    <div class="row">
                                        <div class="column align-start justify-center">
                                            <h4>MAY-AGO 19-09</h4>
                                            <div class="white-space-16"></div>
                                            <p class="color-darkBlue font-small">Periodo</p>
                                        </div>
                                        <div class="column align-end justify-center auto">
                                            <i class="fas fa-calendar fa-3x color-lightBlue"></i>
                                        </div>
                                    </div>
                                </div>
                                
                            </div> <!--/.cards-->

                            <div class="white-space-24"></div>

                            <div class="row">
                                <div class="column">
                                    <table class="table-responsive">
                                        <thead class="capitalize">
                                            <tr>
                                                <th class="text-center">Hora</th>
                                                <th class="text-center">Lunes</th>
                                                <th class="text-center">Martes</th>
                                                <th class="text-center">Mi&eacute;rcoles</th>
                                                <th class="text-center">Jueves</th>
                                                <th class="text-center">Viernes</th>
                                            </tr>
                                        </thead>
                                        <tbody class="uppercase">
                                            <tr>
                                                <td>07:00 - 07:50</td>
                                                <td>Admon tic</td>
                                                <td>Admon proy soft</td>
                                                <td>ingles ix</td>
                                                <td>admon proy oft</td>
                                                <td> - </td>
                                            </tr>
                                            <tr>
                                                <td>07:00 - 07:50</td>
                                                <td>ingles ix</td>
                                                <td>Admon proy soft</td>
                                                <td>ingles ix</td>
                                                <td>Admon proy soft</td>
                                                <td>Arquitecturas orient</td>
                                            </tr>
                                            <tr>
                                                <td>07:00 - 07:50</td>
                                                <td>des apl mov avan</td>
                                                <td>Admon proy soft</td>
                                                <td>ingles ix</td>
                                                <td>Arquitecturas orient</td>
                                                <td>Arquitecturas orient</td>
                                            </tr>
                                            <tr>
                                                <td>07:00 - 07:50</td>
                                                <td>des apl mov avan</td>
                                                <td>ingles ix</td>
                                                <td>Arquitecturas orient</td>
                                                <td>Arquitecturas orient</td>
                                                <td>ingles ix</td>
                                            </tr>
                                            <tr>
                                                <td>07:00 - 07:50</td>
                                                <td>des apl mov avan</td>
                                                <td>desarrollo de sistem</td>
                                                <td>Arquitecturas orient</td>
                                                <td>Arquitecturas orient</td>
                                                <td>desarrollo de sistem</td>
                                            </tr>
                                            <tr>
                                                <td>07:00 - 07:50</td>
                                                <td>sis de info</td>
                                                <td>desarrollo de sistem</td>
                                                <td>admon tic</td>
                                                <td>desarrollo de sistem</td>
                                                <td>desarrollo de sistem</td>
                                            </tr>
                                            <tr>
                                                <td>07:00 - 07:50</td>
                                                <td>sis de info</td>
                                                <td>sis de info</td>
                                                <td>admon tic</td>
                                                <td>desarrollo de sistem</td>
                                                <td>sis de info</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div> <!--/.tabla horario-->

                            <div class="white-space-32"></div>

                            <div class="row-responsive justify-center">
                                <button class="btn btn-general-data bg-darkBlue color-white font-regular weight-semi"> Imprimir horario </button>
                            </div> <!--/.boton imprimir-->
                            <div class="white-space-24"></div>
                        </div>
                    </div> <!--/.content-->
                    
                </div>
            </div> <!--/.row-responsive-->
        </div> <!--/.column horario-->

    </div> <!--/.main flex-->
    
</body>
</html>