/**
*   left-main.scss
*   @description: Estilos para el menu vertical que tiene el logo
*/
   
.menu-left {
    top: 0;
    width: 245px;
    padding: $paddingNormal 2px;
    height: 100vh;
    position: sticky;
    background-color: $lightBlue;

    .main {height: 100vh;}

    .item-left { 
        height: 11%;
        a {
            margin: auto;
        }
    }

    .responsive-img {
        height: 16%;
    }


    
}


@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
    
}